.root {
  position: relative;

  padding: 15px 25px;
}

.button {
  margin: 12px;
  float: right;
}

.buttonContainer {
  width: 100%;
  height: 80px;
}

.icon {
  color: white;
}

.header {
  float: left;
}